@model TimeClocker.Models.HoursForWindow

@{
    ViewBag.Title = "PeriodHours";
}

<h2>Hours for Selected Period</h2>

<div name="SelectStartAndSpan">
    @using (Html.BeginForm("WindowHours", "TimeClock", FormMethod.Post))
    {
        <b>First Day of Period:  </b> @Html.TextBoxFor(model => model.StartDate, "{0:yyyy/MM/dd}");
        <br /><br />
        <b>Period Windows (days):  </b> @Html.TextBoxFor(model => model.DaySpan);
        <br /><br />
        <input type="submit" value="Get Hours for Period" class="btn btn-default" />
    }
</div>

<div name="ListItems">
    <table class="table">
        <tr>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Total</th>
        </tr>
        @{double periodTotal = 0.0; }
        <tr style="background-color:black; color:white"><td colspan="3" style="text-align:center"></td></tr>
        @if (Model.TimeTotalsList.Count() == 0)
        {
            <tr><td></td></tr>
        }
        @foreach (var item in Model.TimeTotalsList)
        {
            <tr>
                <td>@item.InTime</td>
                <td>@item.OutTime</td>
                <td>
                    @{
                        var timeSpan = TimeSpan.FromHours(item.TimeDelta);
                        int iHours = timeSpan.Hours;
                        int iMins = timeSpan.Minutes;
                        @Html.Label(iHours.ToString("00") + ":" + iMins.ToString("00"));
                        periodTotal += iHours + (((double)iMins) / 60);
                    }
                </td>
            </tr>
        }
        <tr style="background-color:black; color:white">
            @{
                int ttlHrs = (int)periodTotal;
                int ttlMin = (int)((periodTotal % 1) * 60);
                string ttlClockHrs = ttlHrs.ToString() + ":" + ttlMin.ToString();
                <td colspan="3" style="text-align:center"><h3>Period Total:  @ttlClockHrs</h3></td>
            }
        </tr>
    </table>
</div>
