@using TimeClocker.Models
@model IEnumerable<IGrouping<int, IGrouping<int, TimeTotalsModel>>>

@{
    ViewBag.Title = "Total Hours";
}

<h2>Total Hours</h2>

<table class="table">
    <tr>
        <th>In Time</th>
        <th>Out Time</th>
        <th>Total</th>
    </tr>

    @foreach (var itemMonth in Model)
    {
        <tr style="background-color:black; color:white"><td colspan="3" style="text-align:center" ><h3>Month Of Year: @Html.Encode(itemMonth.Key)</h3></td></tr>
        foreach (var itemDay in itemMonth)
        {
            foreach (var item in itemDay)
            {
                <tr>
                    <td>@item.InTime</td>
                    <td>@item.OutTime</td>
                    <td>
                        @{
                            var timeSpan = TimeSpan.FromHours(item.TimeDelta);
                            int iHours = timeSpan.Hours;
                            int iMins = timeSpan.Minutes;
                            @Html.Label(iHours.ToString("00") + ":" + iMins.ToString("00"));
                        }
                    </td>

                </tr>
            }
            <tr style="background-color:darkgray; color:black">
                <td />
                <td><h4><b>Day Totals for <i>@Html.Encode(itemDay.Key):</i></b></h4></td>
                <td>
                    @{
                        var dayTimeSpan = TimeSpan.FromHours(itemDay.Sum(t => t.TimeDelta));
                        int idHours = dayTimeSpan.Hours;
                        int idMins = dayTimeSpan.Minutes;
                        <h4>@Html.Label(idHours.ToString("00") + ":" + idMins.ToString("00"))</h4>
                    }
                </td>
            </tr>
        }
    }
</table>
