@model IEnumerable<TimeClocker.Models.TimeTotals>

@{
    ViewBag.Title = "Hours";
}

<h2>Hours</h2>
<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.InTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RunningTotal)
        </th>
        <th></th>
    </tr>*@

@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RunningTotal)
        </td>
    </tr>
}*@

@foreach (var group in Model.GroupBy(item => item.InTime.Day))
{
    <tr>
        <td>
            <b>Day: @Html.Encode(group.Key)</b>
            <table>
                <tr>
                    <th style="font-weight:normal; font-style:oblique; border-bottom: 1px solid #000000;">
                        Clock In@*@Html.DisplayNameFor(model => model.InTime)*@
                    </th>
                    <th style="font-weight:normal; font-style:oblique; border-bottom: 1px solid #000000;">
                        Clock Out@*@Html.DisplayNameFor(model => model.OutTime)*@
                    </th>
                    <th style="font-weight:normal; font-style:oblique; border-bottom: 1px solid #000000;">
                        Hours@*@Html.DisplayNameFor(model => model.RunningTotal)*@
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in group)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.InTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OutTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RunningTotal)
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
}
    <tr>
        <td><b>Sum Hours:</b></td>
        <td><b>@Model.Sum(i => i.RunningTotal).ToString("0.00")</b></td>
    </tr>
</table>
